{% spaceless %}
{% load i18n %}
{% load oa_extras %}
<ol class="submission__answer__display__content">
    {% for part in answer.parts %}
        <li class="submission__answer__part">
            <div class="submission__answer__part__text">
                <h5 class="submission__answer__part__text__title">{% trans "Question" %}</h5>
            </div>
            <article class="submission__answer__part__prompt" style="background: white !important; background-color: white !important; box-shadow: 0 1px 1px rgba(0,0,0,0.05) !important; border: 1px solid #ddd !important; padding: 10px !important; margin-bottom: 10px !important; border-radius: 3px !important;">
                <div class="submission__answer__part__prompt__value" style="background: white !important; padding: 0 !important; margin: 0 !important;">
                    {% if prompts_type == 'html' %}
                        {{ part.prompt.description|safe }}
                    {% else %}
                        {{ part.prompt.description|linebreaks }}
                    {% endif %}
                </div>
            </article>
            {% if part.text %}
            <div class="submission__answer__part__text">
                <h5 class="submission__answer__part__text__title">{{ answer_text_label }}</h5>
                {% if text_response_editor == 'tinymce' %}
                    <textarea class="submission__answer__part__text__value" disabled>
                        {{ part.text|escape }}
                    </textarea>
                {% else %}
                    <div class="submission__answer__part__text__value">
                        {{ part.text|escape|link_and_linebreak }}
                    </div>
                {% endif %}
            </div>
            {% endif %}
        </li>
    {% endfor %}
</ol>
{% endspaceless %}
